<footer class="" style="position:relative">
    <img src="/assets/hackathon-web-theme-banner.png" width="100%">
    <div class="global-footer p-5 text-white d-flex justify-content-center">
        Copyrights @Bit n Bytes | 2022 Hackathon
    </div>
    <div class="custom-shape-divider-top-1667910113">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M649.97 0L599.91 54.12 550.03 0 0 0 0 120 1200 120 1200 0 649.97 0z" class="shape-fill"></path>
        </svg>
    </div>
</footer>