.custom-shape-divider-top-1667910113 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1667910113 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 87px;
}

.custom-shape-divider-top-1667910113 .shape-fill {
    fill: #FFFFFF;
}

.global-footer{
    background-color: #010101;
}